*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for mobile Viewport */
.tab-desk{
    display: none;
}

/* Style rules for header content */
header h1{
    padding-top: 5%;
}

header h2 {
    padding-bottom: 5%;
}

header h1, h2{
    text-align: center;
    font-family: 'Poppins';
    padding-bottom: 5px;
    
}

/* Style rules for header image */
 .bg-box{
    
    padding: 2rem;
    display: block;
    position: relative;
    top: 60px;
    


}

.bg-img{
    display: block;
    position: relative;
    height: 150px;
    width: 100%;
    object-fit: contain;
    
    
    
}

/* Style rules for nav area */
.nav_links li a:hover{
    color: #0088a9;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: 'Poppins' ;
    font-weight: bold;
    border: 0.5px solid #f6eee4;
}

nav a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

.nav_links{
    position: relative;
    max-width: 100%;
    
}

/* Style rules for main area content */

main{
    padding: 2%;
    font-family: 'Montserrat';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

#p1, #p2{
    padding-bottom: 1em;
}

#pyText{
    color: #393087;
}

#CSharp{
    color: #990d12;
}

#hyper{
    color: #e34c26;
}


.welcome{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    margin: 2px;
    padding: 2em;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 0.5rem;
    color: #121917;
}


.welcome p {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.welcome a {
    text-decoration: none;
}

#CSharp{
    color: #2c3d39;
}

.prog_styles{
    color: #2c3d39;
}

#pyText{
    margin-bottom: 0.5em;
}
    



#types{
    text-align: center;
    border: 1px solid;
    padding: 1em;
    border-radius: 0.5rem;
    background-color: rgba(204, 204, 204, 0.5);
    box-shadow: 5px 5px 5px #b3b3b3;
}

#types a {
    text-decoration: none;
    
}

#types h3{
    color: #214087;
    padding: 5px;
}

.fun{
    color: rgb(23, 35, 190);
    font-weight: bold;
}

#procedural{
    padding-top: 1em;
}

#net{
    display: block;
    position: relative;
    left: 120px;
    bottom: 20px;
}

#javascript{
    color:#e0934b;
    font-weight: bold;
    
}

#cascade{
    color:#1b84cf;
    padding-bottom: 1%;
    font-weight: bold;
}

#ide{
    color: blue;
    font-weight: bold;
    
}

#jobs{
    color: green;
    font-weight: bold;
    
}

#CSharp{
    color: #b21ced;
    font-weight: bold;
    margin-bottom: 1em;
    
}

#csharp{
    padding-top: 0.5em;
}

/* Start of styles for project 2 pages 6 - 10 */

#jobs{
    text-align: center;
    padding: 1em;
}

#css{
    padding-top: 1em;
}

#cyber h1{
    text-align: center;
    padding: 1%;
    color: red;
    
}


/* Style rules for table */
table {
    border: 3px solid #1b84cf;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;

}

table, tr, th, td {
    
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: #1b84cf;
}

th, td{
    border: 1px solid #1b84cf;
}

caption{
    font-size: 1.25em;
    font-family: 'Montserrat';
    color: #1b84cf;
    padding: 5px;
    margin: 0.5em;
}

/* Style rules for form */

#form{
    
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
    
    
}

#form p{
    padding: 1em;
    
}

#formH3{
    text-align: center;
    padding: 1em;
    color: #1b84cf;
}

#form-grid{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    
}

#form-grid > *{
    padding: 1em;
}

.contact{
    
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 0.5rem;
    color: #1b84cf;
}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label{
    display: block;
    font-size: 1.2em;
    font-family: 'Montserrat';
    
}

.contact form p{
    margin: 0;
}

.contact form .full{
    grid-column: 1 / 3;
}

.contact form input, .contact form textarea{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #1b84cf;
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-size: 1em;
    color: #1b84cf;
}




.contact h3{
    text-align: center;
}

#info{
    padding-bottom: 2em;
}

.impostor{
    color: #1b84cf;
    font-weight: bold;
}

/* Images in project 2 */
.proj2Img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px gray;
    border-radius: 0.5rem;
    padding: 0.5em;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}



/* Style rules for footer content */

address{
    background: rgb(13, 106, 143);
}

footer{
    
    margin-top: auto;
    text-align: center;
    background: rgb(13, 106, 143);
    padding: 3em;
    color: #fff;
}



/* Media Query for tablet viewport */
@media screen and  (min-width: 700px), print{
    
    /* Style rules for main area content */
    
    .welcome h3{
        padding-bottom: 20px;
        
    }


    .container {
        font-size: 1.35em;    
    }

    .tab-desk{
        display: block;
        position: relative;
        height: 100px;
    }
    
    /* Style rules for images */
    #python {
        height: 90px;
        padding: 5px;
    }

    #JS{
        height: 90px;
        padding: 5px;
    }

    #html{
        height: 90px;
        padding: 10px;
    }

    #net{
        height: 50px;
        padding: 1px;
    }

    

    
}
    

    


/* Media Query for Desktop Viewport */
@media  screen and (min-width: 1000px), print {
    
    /* Style rules for main area content */

    .welcome h3{
        padding-bottom: 15px;
        
    }
    
    .container{
        font-size: 1.5em;
    }

    /* Style rules for images */
    #JS{
        height: 110px;
        padding: 10px;
    }
    
    
    #python {
        height: 110px;
        padding: 10px;
       }

    #html{
        height: 100px;
        padding: 10px;
    }

    #net{
        height: 60px;
        padding: 1px;
    }
    
}













